*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: 100%;
    min-height: 100vh;
}

span{
    color: #FFAD50;
    font-weight: 600;
}

nav{
    background-color: #FFAD50;
    margin-bottom: 2rem;
    .nav-container{
        max-width: 1200px;
        margin: 0 auto;
        .nav-elements{
            display: flex;
            justify-content: space-between;
            .main-header{
                text-decoration: none;
                list-style: none;
                color: black;
                font-size: 21px;
                font-family: 'Over the Rainbow', cursive;
                &:hover{
                    color: #FFF3DA;
                    transition: color 0.3s;
                }
            } 
            form{
                align-self: center;
                .search-bar {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    .filter-btn{
                        border: none;
                        background-color: #FFC88A;
                        color: black;
                        padding: .6rem;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        cursor: pointer;
                        &:focus{
                            outline: none;
                        }
                    }
                    .search-input {
                        width: 180px;
                        background-color: #FFC88A;
                        color: black;
                        font-weight: 700;
                        border: none;
                        padding: .6rem;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                        &:focus{
                            outline: none;
                        }
                    }
                    .search-btn {
                        border: none;
                        background-color: #FFC88A;
                        color: black;
                        padding: .6rem;
                        cursor: pointer;
                        &:focus{
                            outline: none;
                        }
                    }
                    .login-btn{
                        border: none;
                        background-color: #FFC88A;
                        color: black;
                        padding: .45rem;
                        font-size: 15px;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        cursor: pointer;
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

.container{
    position: relative;
    min-height: 100vh;
    .content-wrap{
        padding-bottom: 100px;
        .card-detailed-container{
            background-color: #FFF3DA;
            padding: 1rem;
            border: 3px solid #FFAD50;
            border-radius: 20px;
            width: auto 0;
            .containers-part{
                .upper-section{
                    height: 100%;
                    width: 100%;
                    // // border-bottom: #FFAD50 2px solid;
                    // // padding-bottom: 1rem;
                    display: flex;
                    .upper-left-section{
                        border-right: #FFAD50 2px solid;
                        padding-right: 2rem;
                        width: 45%;
                        height: 100%;
                        .main-img{
                            width: 500px;
                            height: 400px;
                            img{
                                border-radius: 10px;
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        // .gallery-part{
                        //     display: flex;
                        //     width: 500px;
                        //     height: 80px;
                        //     .image{
                        //         margin-right: 0.5rem;
                        //         img{
                        //             border-radius: 10px;
                        //             object-fit: cover;
                        //             width: 100%;
                        //             height: 100%;
                        //         }
                        //     }
                        //     .img-right{
                        //         margin-right: 0;
                        //     }
                        // }
                    }
                    .upper-right-section{
                        display: flex;
                        flex-direction: column;
                        padding-left: 1rem;
                        width: 55%;
                        height: 390px;
                        .main-header{
                            p{
                                font-size: 38px;
                                font-weight: bold;
                                margin-bottom: 1rem;
                            }
                        }
                        .desc-part{
                            p{
                                font-size: 23px;
                            }
                        }
                        .recipe-producer{
                            font-size: 20px;
                            font-style: italic;
                            font-weight: 500;
                            margin: 2rem 0;
                        }
                        .options-part{
                            justify-content: flex-end;
                            padding: 1rem;
                            border: #FFAD50 2px solid;
                            border-radius: 10px;
                            display: flex;
                            justify-content: space-evenly;
                            .option{
                                margin-right: 2rem;
                                text-align: center;
                            }
                        }
                    }
                }
                .bottom-section{
                    margin-top: 1rem;
                    display: flex;
                    width: 100%;
                    .directions-part{
                        margin-right: 1rem;
                        padding: 0.3rem 1rem;
                        width: 65%;
                        border: 2px solid #FFAD50;
                        border-radius: 15px;
                        .directions-header{
                            font-size: 23px;
                            font-weight: 600;
                            margin-bottom: 0.3rem;
                        }
                        .directions-content{
                            padding-left: 1rem;
                            li{
                                font-weight: 600;
                                margin-bottom: 0.3rem;
                            }
                        }
                    }
                    .ingredients-part{
                        padding: 0.3rem 1rem;
                        width: 35%;
                        border: 2px solid #FFAD50;
                        border-radius: 15px;
                        .ingredients-header{
                            font-size: 23px;
                            font-weight: 600;
                            margin-bottom: 0.3rem;
                        }
                        .ingredients-content{
                            padding-left: 1rem;
                            li{
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* FOOTER */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #FFAD50;
    .footer-container{
        max-width: 1540px;
        margin: 0 auto;
        height: 70px;
        .icons{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            i{
                font-size: 40px;
                color: black;
                &:hover{
                    color: #FFF3DA;
                    transition: color 0.3s;
                }
            }
        }
    }
}